page-category {
  h1,
  h2,
  h3 {
    margin-bottom: 0;
    background-color: black;
    color: white;
    padding: 5px !important;
    text-align: center;
  }

  h1 {
    //display: inline-block;
    padding: 70px 10px 5px;
    text-transform: uppercase;
    font-size: x-large;
  }

  h2 {
    font-size: 1.6em;
    text-align: center;
  }

  h3 {
    font-size: 1.4em;
    color: #EB0628;
    //font-family: "sans-serif";
  }

  .desc {
    //  font-family: "sans-serif";//"avenir-light";
    font-weight: 400;
    color: white;
    padding: 10px;
    margin: 3% 3% 20px;
    font-size: 1em;
    line-height: 1.6em;
    background: black;
    opacity: 0.8;
  }

  .desc h2 {
    font-size: 1.6em;
    margin-bottom: 10px;
    //font-family: "avenir-light";
  }
  //Product description
  .desc2 {
    //  font-family: "sans-serif";//"avenir-light";
    font-weight: 400;
    color: black;
    padding: 10px;
    margin: 3% 3% 20px;
    font-size: 1em;
    line-height: 1.6em;
    background: white;
    opacity: 0.8;
  }

  .item {
    background-color: transparent;
  }

  .colorHover {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  ,
  .colorHover:hover {
    background-color: #EB0628 !important;

    .data,
    .dataType,
    .name,
    .nameDetails {
      color: white;
      border: none;

      .name {
        color: white;
        border: none;
      }
    }
  }

  .name {
    text-align: left;
    color: #EB0628;
  }

  .nameDetails {
    text-align: left;
    //color: #EB0628;
    border-bottom: 1px solid white;
  }

  .data {
    text-align: right !important;
    color: black;
  }

  .dataType {
    text-align: right !important;
    color: black;
    text-transform: uppercase;
  }
  //Form product
  .formProductDiv {
    font-weight: 400;
    color: white;
    padding: 10px;
    margin: 3%;
    font-size: 1em;
    line-height: 1.6em;
    background: black;
    opacity: 0.8;
    margin-bottom: 100px;

    h2 {
      font-size: 1.6em;
      margin-bottom: 10px;
      text-align: center;
    }

    ion-item {
      color: white;
    }

    ion-input {
      background-color: #242528;
      margin-top: 1%;
    }

    ion-textarea {
      background-color: #242528;
      min-height: 150px;
      margin-top: 1%;
    }
    textarea{
      min-height:150px !important;
      max-height:150px !important;
    }
    button {
      margin-top: 2%;
    }

    div.item-inner {
      box-shadow: none !important;
      border-bottom-color: none !important;
    }
  }

  .sliders {
    //width: 480px;
    //height: 460px;
  }

  .slider {
    //width: 478px;
    //height: 460px;
  }

  .background-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    padding-top: 26%;
  }

  .background-contain {
    //background-size: contain;
    //background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    //padding-top: 26%;
    //padding-bottom: 5%;
  }

  .product-reference {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    padding-right: 45px;
    padding-left: 45px;
    //font-size: 1.6em;
    text-align: center;
    z-index: 10;
    font-family: "avenir-light";
    // display: -webkit-box;
    // display: -moz-box;
    // display: box;
    // display: -webkit-flex;
    // display: -moz-flex;
    // display: -ms-flexbox;
    display: flex;
    // -webkit-box-orient: vertical;
    // -moz-box-orient: vertical;
    box-orient: vertical;
    // -webkit-box-direction: normal;
    // -moz-box-direction: normal;
    // box-direction: normal;
    // -webkit-flex-direction: column;
    // -moz-flex-direction: column;
    // flex-direction: column;
    // -ms-flex-direction: column;
    // -webkit-box-pack: center;
    // -moz-box-pack: center;
    // box-pack: center;
    // -webkit-justify-content: center;
    // -moz-justify-content: center;
    // -ms-justify-content: center;
    // -o-justify-content: center;
    // justify-content: center;
    // -ms-flex-pack: center;
  }

  .product-name {
    background-color: rgba(190,189,188,0.4) !important;
    bottom: 35px !important;
    top: auto !important;
    left: 0 !important;
    position: absolute !important;
    width: 100%;
  }

  .swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .footer {
    background-color: #EB0628;
    width: 100%;
    height: 40px;
  }

  .btn-footer {
    color: white;
    font-size: 18px;
    background-color: transparent;
    margin: 10px;
  }

  .navbarDosilet {
    text-align: center;
  }

  .div-logo-header {
    display: inline;
  }

  .div-logo-header:hover {
    cursor: pointer;
  }

  .swiper-wrapper {
    height: 150px !important;
  }

  .swiper-pagination-bullet-active {
    background: #EB0628 !important;
  }

  .formBtn {
    border-radius: 0;
    font-size: 18px;
    color: white;
    background-color: #EB0628 !important;
    width: 100%;
    padding: 5%;
    margin-bottom: 15px;
  }

  .formBtn:focus,
  .formBtn:visited {
    color: white !important;
    outline: 0 !important;
  }

  .formBtn:active {
    transition: 0.8;
    background-color: #f92041 !important;
  }

  .formBtn:hover {
    color: white;
  }
}

ion-app [padding],
ion-app [padding] .scroll-content {
  padding: 0 !important;
}

.divExtras {
  background-color: #302D2E;
  padding-top: 15px;
}

.colorHover .item-accordion {
  background: #302D2E;
  padding-top: 15px;
}

ion-list.item-accordion.list.list {
  border-bottom: 1px solid #dedede;
}

.list .item-block .item-inner {
  border-bottom: 0 solid #302D2E;
}

.dms-template-product .products-list .list-column {
  border-bottom: 0 solid #302D2E;
}

.extras-title {
  color: white;
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
  padding-left: 20px;
  color: white;
}

ion-list.list.list {
  border-top: 1px solid white;
  margin: 0 !important;
}

ion-icon.icon.icon.ion-ios-arrow-down.item-icon,
ion-icon.icon.icon.ion-ios-arrow-up.item-icon {
  float: right;
}
// .nameDetails ion-label.label.label-md {
//     color: red;
// }
// .nameDetails ion-label.label.label-md:hover{
//     color: white;
// }

.page-title,
.page-title .toolbar-title.toolbar-title {
  //padding: 5px 10px;
  //margin-bottom: 10px;
  background-color: black;
  color: #c90e2b;
  text-transform: uppercase;
  font-size: x-large;
  text-align: center;
  //padding-top: 35px;//70px;35px;
  padding-top: 0 !important;
}

.page-subtitle {
  padding: 5px 10px;
  background-color: black;
  color: white;
  font-size: x-large;
  text-align: center;
}

h4.product-title {
  background-color: #EB0628;
  color: white;
  bottom: 0;
  width: 200px;
  margin: 0 auto;
  font-size: 1.7rem;
}

.divImage {
  height: 100%;
  width: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: white;
  margin: 0 auto;
}

ion-label.extras-title.label.label {
  color: white;
}

.extra_data ion-label.label.label {
  text-align: -webkit-right;
}

ion-icon.icon.icon-md.ion-md-arrow-down.item-icon, ion-icon.icon.icon-md.ion-md-arrow-up.item-icon,ion-icon.icon.icon-md.ion-md-remove.item-icon
{
  color: #302D2E;
}
ion-icon.icon.icon-md.ion-md-arrow-down.item-icon.active.red:hover , ion-icon.icon.icon-md.ion-md-arrow-up.item-icon.active.red:hover
{
  color: white;
}


ion-icon.icon.icon-md.ion-md-arrow-dropleft{
  float: left;
  padding-left: 5%;
}


ion-icon.icon.icon-md.ion-md-arrow-dropright{
  float: right;
  padding-right: 5%;
}
h4.product-title.slider{
  font-size: small;
}
