<ion-header>
  <ion-navbar color="primary" class="navbarDosilet">
    <button class="menu-toggle-button" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <img (click)="openHome()" class="logo-navbar" src="assets/img/dosilet_logo_white.png" />
    <button class="settings-button" ion-button (click)="goSettings()">
      <ion-icon name="settings"></ion-icon>
    </button>
  </ion-navbar>
  <div color="blacktitle">
    <ion-title class="page-title">{{parent_name}}</ion-title>
    <ion-title class="page-subtitle">{{name}}</ion-title>
    <ion-title class="page-subtitle">{{subtitle}}
      <ion-fab class="fab_contact">
         <div>
         <button ion-fab color="primary" (click)="pedirPresupuesto(nameCategory)" mini>
           <ion-icon name="mail"></ion-icon>
         </button>
       </div>
      </ion-fab>
     </ion-title>
    </div>
</ion-header>

<ion-content padding >
  <div class="dms-block-description"  >
    <div class="sliders" >
      <ion-slides #Slides (ionSlideDidChange)="slideChanged(Slides)">
        <ion-slide zoom="true" *ngFor="let i of arrayImgs">
        <ion-card id="{{i.name}}"  class="background-btnImage background-contain btnImage" >
          <img src="{{i.image}}" style="height:200px !important" />
          <ion-card-content style="background-color:#EB0628; text-align:center !important;">
            <ion-card-title style="color:white !important;">
                <ion-icon name="arrow-dropleft"  [hidden] ="firstSlide"></ion-icon>
              {{i.name}}
                  <ion-icon name="arrow-dropright"  [hidden] ="lastSlide"></ion-icon>
            </ion-card-title>

          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
      </div>
    <div class="desc" [innerHtml]="description"></div>
    <div class="desc2">
      <h4>{{info}}</h4>
      <ion-list *ngFor="let p of products" class="colorHover">
        <ion-list-header *ngIf="p.showTypeProduct">
          <ion-label class="typeProduct">{{p.type_term_name}}</ion-label>
        </ion-list-header>
        <ion-item *ngIf="p.reference != undefined ">
          <ion-label class="name">Referencia</ion-label>
          <ion-label class="data">{{p.reference}}</ion-label>
        </ion-item>
        <ion-item *ngIf="p.type != undefined ">
          <ion-label class="name">Eléc/Gas</ion-label>
          <ion-label class="dataType">{{p.type}}</ion-label>
        </ion-item>
        <ion-item *ngIf="p.dimensions != undefined ">
          <ion-label class="name">mm</ion-label>
          <ion-label class="data">{{p.dimensions}}</ion-label>
        </ion-item>
        <ion-item *ngIf="p.conveyor_width != undefined ">
          <ion-label class="name">Ancho Banda</ion-label>
          <ion-label class="data">{{p.conveyor_width}}</ion-label>
        </ion-item>
        <ion-item *ngIf="p.conveyor_length != undefined ">
          <ion-label class="name">Largo Banda</ion-label>
          <ion-label class="data">{{p.conveyor_length}}</ion-label>
        </ion-item>
        <ion-item *ngIf="p.conveyor_entry != undefined ">
          <ion-label class="name">h Boca Entrada</ion-label>
          <ion-label class="data">{{p.conveyor_entry}}</ion-label>
        </ion-item>
        <ion-item *ngIf="p.volume != undefined ">>
          <ion-label class="name">m&#179;</ion-label>
          <ion-label class="data">{{p.volume}}</ion-label>
        </ion-item>
        <ion-item *ngIf="p.weight != undefined ">>
          <ion-label class="name">Kg</ion-label>
          <ion-label class="data">{{p.weight}}</ion-label>
        </ion-item>
        <ion-item *ngIf="p.power != undefined ">>
          <ion-label class="name">kW</ion-label>
          <ion-label class="data">{{p.power}}</ion-label>
        </ion-item>
        <ion-item *ngIf="p.voltage != undefined ">>
          <ion-label class="name">V*</ion-label>
          <ion-label class="data">{{p.voltage}}</ion-label>
        </ion-item>
        <ion-item *ngIf="p.frequency != undefined ">>
          <ion-label class="name">Hz</ion-label>
          <ion-label class="data">{{p.frequency}}</ion-label>
        </ion-item>
        <ion-item *ngIf="p.price != undefined ">>
          <ion-label class="name">PVP</ion-label>
          <ion-label class="data">{{p.price}}</ion-label>
        </ion-item>
        <ion-item *ngIf="p.details != undefined ">
          <ion-label class="name">Observaciones</ion-label>
          <ion-label class="data">{{p.details}}</ion-label>
        </ion-item>
        <ion-item class="nameDetails item-stable" (click)="toggleDetails(p)" [ngClass]="{active: p.showExtras}">
          <ion-label class="name">Extras</ion-label>
          <ion-icon name="arrow-down" primary item-right [ngClass]="{active: p.showExtras}" [hidden]="!p.showExtras" *ngIf="p.count_extras > 0"></ion-icon>
          <ion-icon name="arrow-up" item-right [hidden]="p.showExtras" *ngIf="p.count_extras > 0"></ion-icon>
          <ion-icon name="remove" item-right *ngIf="p.count_extras === 0"></ion-icon>
        </ion-item>
        <div class="divExtras" menuClose class="item-accordion" [hidden]="p.showExtras" *ngIf="p.count_extras > 0">
          <ion-label class="extras-title">Extras disponibles</ion-label>
          <ion-list *ngFor="let extra of p.extras ">
            <ion-item>
              <ion-label class="extra_label">{{extra.label}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-list *ngFor="let subextra of extra.extras" class="lstExtras">
                <ion-item *ngIf="subextra.reference != undefined " class="extra_data">{{subextra.reference}} </ion-item>
                <ion-item *ngIf="subextra.dimensions != undefined " class="extra_data"> {{subextra.dimensions}} </ion-item>
                <ion-item *ngIf="(subextra.price != 'undefined')  &&  (subextra.price != 'default') &&  (subextra.price !='ask')  " class="extra_data">{{subextra.price}} €</ion-item>
                <ion-item *ngIf="subextra.price == 'default'" class="extra_data"> De serie </ion-item>
                <ion-item *ngIf="subextra.price == 'ask'" class="extra_data"> Consultar </ion-item>
              </ion-list>
            </ion-item>
          </ion-list>
        </div>

      </ion-list>
    </div>
    <ion-infinite-scroll *ngIf="counter != dataLength" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" class="infiniteScroll" loadingText="Cargando más productos...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </div>
  <ion-fab  class="fab_arrowup">
     <div>
         <button (click)="scrollToTop()"><ion-icon name="arrow-up"></ion-icon></button>
   </div>
   </ion-fab>
</ion-content>
