<ion-header>
  <ion-navbar color="primary" class="navbarDosilet">
    <button class="menu-toggle-button" ion-button menuToggle>
<ion-icon name="menu"></ion-icon>
</button>
    <img (click)="openHome()" class="logo-navbar" src="assets/img/dosilet_logo_white.png" />
    <button class="settings-button" ion-button (click)="goSettings()">
<ion-icon name="settings"></ion-icon>
</button>
  </ion-navbar>
  <div class="subtitle">
    <h5>Ofertas</h5>
  </div>
</ion-header>

<ion-content padding>
  <!-- <ion-card *ngFor="let p of products" (click)="openProduct(p.idproduct)" id="{{p.name}}">
    <img src="{{p.image}}" />
    <ion-card-content style="background-color:#EB0628; text-align:center !important;">
      <ion-card-title style="color:white !important;">
        {{p.name}}
      </ion-card-title>
    </ion-card-content>
  </ion-card> -->

  <!-- <ion-list *ngFor="let p of products">
    <div class="single-product">
      <button type="submit" (click)="openProduct(p.idproduct)" id="{{p.name}}" class="btnImage">
          <div class="divImage"  [ngStyle]="{'min-height': '120px','background-image': 'url(' + p.image + ')'}"></div>
          <h4 class="product-title">{{p.name}}</h4>
        </button>
    </div>
  </ion-list> -->
</ion-content>
