page-highlight {

  ion-list {
    align-content: center;
  }
  ion-list.list.list-md{
    text-align: center;
  }

  ion-img{
    min-width: 300px;
    min-height: 300px;
  }
  .single-product{
  width: 100%;
  margin-right: 0;
  }
}
