page-contact {
  *:focus {
    outline: 0 !important;
  }

  .header-contact {
    height: 200px;
    line-height: 200px;
    background-image: url('../assets/img/contact-img.jpg');
    background-position: 25% 25%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    overflow: hidden;
  }

  .header-contact-text {
    font-size: 65px;
    color: white;
    font-weight: lighter;
    top: 50%;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }

  #text {
    font-size: 50px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 30px;
    width: 100%;
  }

  .navbarDosilet {
    text-align: center;
  }

  .div-logo-header {
    display: inline;
  }

  .div-logo-header:hover {
    cursor: pointer;
  }

  .termsnconditions > * {
    font-weight: normal;
    width: auto;
  }
  @media screen and (max-width: 360px) {
    .termsnconditions {
      font-size: 12px;
    }
  }
  @media screen and (max-width: 214px) {
    .termsnconditions {
      font-size: 9px;
    }
  }

  span.header-contact-text {
    color: black;
    text-transform: uppercase;
    font-size: 2.6em;
  }

  input[type="checkbox"] {
    margin-bottom: 15px;
    padding-left: 5%;
    padding-right: 5%;
    width: 5%;
  }

  .footer {
    background-color: #EB0628;
    width: 100%;
    height: 40px;
  }

  .btn-footer {
    color: white;
    font-size: 18px;
    background-color: transparent;
    margin: 10px;
  }
  //Form product
  .formProductDiv {
    font-weight: 400;
    color: white;
    padding: 10px;
    margin: 3%;
    font-size: 1em;
    line-height: 1.6em;
    background: black;
    opacity: 0.8;
    margin-bottom: 100px;

    .termsConditions{
      margin-top: 1%;
      max-height:150px !important;
      font-size: 1.6rem;
      position: relative;
      padding-left: 16px;
      border-radius: 0;
      transition: background-color 200ms linear;
      ion-checkbox{
        float: left;
      }
      ion-label{
        float: left;
      }
    }

    .alert-ios .alert-message, .alert-ios .alert-input-group {
      padding: 0 16px 21px;
      font-size: 13px;
      text-align: left !important;
      color: inherit;
    }

    h2 {
      font-size: 1.6em;
      margin-bottom: 10px;
      text-align: center;
    }

    ion-item {
      color: white;
    }

    ion-input {
      background-color: #242528;
      margin-top: 1%;
    }

    ion-textarea {
      background-color: #242528;
      min-height: 150px;
      margin-top: 1%;
    }

    textarea{
      min-height:150px !important;
      max-height:150px !important;
    }

    button {
      margin-top: 2%;
    }

    div.item-inner {
      box-shadow: none !important;
      border-bottom: none !important;
    }
  }
}
