page-settings {
  .sel-lang {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    display: inline-block !important;
    float: right !important;
  }

  .centered-toggle {
    margin-left: 50%;
    margin-right: 50%;
  }

  .information {
    text-align: center;
  }

  ion-content {
    color: white !important;
  }

  .info-toggle {
    width: 100%;
    text-align: center;
    margin-top: 15%;
  }

  .notification-toggle {
    position: fixed;
    margin-left: 47%;
    margin-right: 53%;
  }
}
