
<ion-content padding>
  <ion-navbar class="subnavbar">
    <ion-title>Ofertas</ion-title>
  </ion-navbar>
  <div class="dms-block-description">

  						<h1>{{parent_name}}</h1>
  						<h2>{{this.name}}</h2>
  						<h3>{{subtitle}}</h3>
              <div class="sliders">
                <ion-slides pager="true">
                  <ion-slide zoom="true" *ngFor="let p of products" class="background-contain" [ngStyle]="{'background-image': 'url(' + p.image + ')'}" >
                    <div class="product-name">
                      {{p.name}}
                    </div>
                  </ion-slide>
                </ion-slides>
              </div>
              <div class="desc" [innerHtml]="products[0].description"></div>
              <div class="desc">
                <ion-list>
                  <ion-list-header>Características Técnicas y PVP</ion-list-header>
                  <ion-item>
                   <ion-label class="name">Referencia</ion-label>
                   <ion-label class="data">{{products[0].reference}}</ion-label>
                  </ion-item>
                  <ion-item>
                   <ion-label class="name">Eléc/Gas</ion-label>
                   <ion-label class="data">{{products[0].type}}</ion-label>
                  </ion-item>
                  <ion-item>
                   <ion-label class="name">mm</ion-label>
                   <ion-label class="data">{{products[0].dimensions}}</ion-label>
                  </ion-item>
                  <ion-item>
                   <ion-label class="name">Ancho Banda</ion-label>
                   <ion-label class="data">{{products[0].conveyor_width}}</ion-label>
                  </ion-item>
                  <ion-item>
                   <ion-label class="name">Largo Banda</ion-label>
                   <ion-label class="data">{{products[0].conveyor_length}}</ion-label>
                  </ion-item>
                  <ion-item>
                   <ion-label class="name">h Boca Entrada</ion-label>
                   <ion-label class="data">{{products[0].conveyor_entry}}</ion-label>
                  </ion-item>
                  <ion-item>
                   <ion-label class="name">m³</ion-label>
                   <ion-label class="data">{{products[0].volume}}</ion-label>
                  </ion-item>
                  <ion-item>
                   <ion-label class="name">Kg</ion-label>
                   <ion-label class="data">{{products[0].weight}}</ion-label>
                  </ion-item>
                  <ion-item>
                   <ion-label class="name">kW</ion-label>
                   <ion-label class="data">{{products[0].power}}</ion-label>
                  </ion-item>
                  <ion-item>
                   <ion-label class="name">V*</ion-label>
                   <ion-label class="data">{{products[0].voltage}}</ion-label>
                  </ion-item>
                  <ion-item>
                   <ion-label class="name">Hz</ion-label>
                   <ion-label class="data">{{products[0].frequency}}</ion-label>
                  </ion-item>
                  <ion-item>
                   <ion-label class="name">PVP</ion-label>
                   <ion-label class="data">{{products[0].price}} €</ion-label>
                  </ion-item>
                  <ion-item>
                   <ion-label class="name">Observaciones</ion-label>
                   <ion-label class="data">{{products[0].details}}</ion-label>
                  </ion-item>
                  <!-- <ion-item> -->
                    <ion-label class="name">Extras </ion-label>
                    <div >
                      <ion-list *ngFor="let e of products[0].extras ; let idx = index;" >
                        <ion-item><ion-label  class="name">{{e.name}}</ion-label></ion-item>
                        <ion-item><ion-label class="data">{{productextra[idx].extra_reference}}</ion-label></ion-item>
                        <ion-item><ion-label class="data">{{productextra[idx].extra_price}}</ion-label>  </ion-item>
                      </ion-list>
                    </div>
                </ion-list>
              </div>
  </div>
</ion-content>
