<ion-header>
  <ion-navbar color="blacktitle" hideBackButton>
    <ion-title class="page-title">Ofertas</ion-title>
    <ion-title class="page-subtitle">{{products[0].name}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="dms-block-description">
    <div class="sliders">
      <ion-slides pager="true">
        <ion-slide zoom="true" *ngFor="let p of products" class="background-btnImage background-contain btnImage">
          <div class="divImage" [ngStyle]="{'min-height': '120px','background-image': 'url(' + p.image + ')'}"></div>
          <h4 class="product-title">{{p.name}}</h4>
        </ion-slide>
      </ion-slides>
    </div>
    <div class="desc" [innerHtml]="products[0].description"></div>
    <div class="desc2">
      <h4>{{info}}</h4>
      <ion-list>
        <ion-list-header>Características Técnicas y PVP</ion-list-header>
        <ion-item>
          <ion-label class="name">Referencia</ion-label>
          <ion-label class="data">{{products[0].reference}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="name">Eléc/Gas</ion-label>
          <ion-label class="data">{{products[0].type}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="name">mm</ion-label>
          <ion-label class="data">{{products[0].dimensions}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="name">Ancho Banda</ion-label>
          <ion-label class="data">{{products[0].conveyor_width}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="name">Largo Banda</ion-label>
          <ion-label class="data">{{products[0].conveyor_length}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="name">h Boca Entrada</ion-label>
          <ion-label class="data">{{products[0].conveyor_entry}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="name">m³</ion-label>
          <ion-label class="data">{{products[0].volume}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="name">Kg</ion-label>
          <ion-label class="data">{{products[0].weight}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="name">kW</ion-label>
          <ion-label class="data">{{products[0].power}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="name">V*</ion-label>
          <ion-label class="data">{{products[0].voltage}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="name">Hz</ion-label>
          <ion-label class="data">{{products[0].frequency}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="name">PVP</ion-label>
          <ion-label class="data">{{products[0].price}} €</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="name">Observaciones</ion-label>
          <ion-label class="data">{{products[0].details}}</ion-label>
        </ion-item>
        <!-- <ion-item> -->
        <ion-label class="name">Extras </ion-label>
        <div class="divExtras" *ngIf="products[0].count_extras > 0">
          <ion-label class="extras-title">Extras disponibles</ion-label>
          <ion-list *ngFor="let extra of products[0].extras ">
            <ion-item>
              <ion-label class="extra_label">{{extra.label}}</ion-label>
            </ion-item>
            <ion-item class="itemExtra">
              <ion-list *ngFor="let subextra of extra.extras" class="lstExtras">
                <ion-item *ngIf="subextra.reference != undefined " class="extra_data">{{subextra.reference}} </ion-item>
                <ion-item *ngIf="subextra.dimensions != undefined " class="extra_data"> {{subextra.dimensions}} </ion-item>
                <ion-item *ngIf="(subextra.price != undefined)  &&  (subextra.price != default) &&  (subextra.price !=ask)  " class="extra_data">{{subextra.price}} € </ion-item>
                <ion-item *ngIf="subextra.price == default" class="extra_data"> De serie </ion-item>
                <ion-item *ngIf="subextra.price == ask" class="extra_data"> Consultar </ion-item>
              </ion-list>
            </ion-item>
          </ion-list>
        </div>
      </ion-list>
    </div>
  </div>
</ion-content>
