// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
  font-family: "Avenir-Roman";
  src: url("../assets/fonts/avenir-roman.ttf") format("truetype");
}
.tabbar.show-tabbar {
  background: #EB0628;
}
span.tab-button-text {
    color: white;
}
//footer
.footer .toolbar-background.toolbar-background-md {
  background: #EB0628;
  vertical-align: middle;
  align-content: center;
}
.btnfooter{
    width: 49%;
    background: #EB0628;
    color: white;
}
//sidemenu
.item-md{
  background:black;
}
ion-label.label.label-md {
    text-align: initial;
}

//content of all pages
.ion-page > ion-content{
  background-image: url('../assets/background/DosiletApp_bg.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  background-position: right;
  padding-top: 50px;
}

ion-content.content.content-md
{
  padding-top: 50px;
}
ion-app.md [padding], ion-app.md [padding] .scroll-content{
    padding-top: 70px;
}

//nav bar
.navbarDosilet {
  text-align: center;
}
.logo-navbar{
  width:90px; height:auto;
}
.logo-navbar:hover{
  cursor:pointer
}
//tabs bar
.tabs{
  background-color: #0F1013;
  bottom:0;
  left:0;
  width: 100%;
  height:60px;
  text-align: center;
}

.tabs .tab{
  text-transform: capitalize !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  font-size:14px;
  position:relative;
  display: inline-block;
  width:20%;
  height:100%;
  padding:14px;
  background: none;
}
.tab-icon {
  height:22px;
  width:auto;
  margin-bottom:5px;
}

.menu-toggle-button{
  color:white;
}
.settings-button{
  position:absolute;
  right:0;
  background:none;
  box-shadow:none;
  font-size:20px;
}
.menu-toggle-button:hover{
  color:white !important;
}
.settings-button:hover{
  background:none !important;
  color:white !important;
  box-shadow: none !important;
}

ion-item.item-accordion.item.item-block.item-md {
    background: #c90e2b;
}

//subnavar
´.subnavbar{

}

.page-title{
  padding: 5px 10px;
  margin-bottom: 10px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: x-large;
  text-align: center;
  padding-top: 70px;
}
