<ion-menu (ionClose)="resetMenu()" style="margin-bottom:60px !important;" [content]="content">
  <ion-content style="background-color:black;">
    <ion-list>
      <div *ngFor="let c of category">
        <ion-item *ngIf="c.subcategories.length > 0" class="item-stable" (click)="toggleDetails(c)" [ngClass]="{active: c.showDetails}" no-lines>
          <ion-icon *ngIf="!c.showDetails" color="danger" name="ios-arrow-down"></ion-icon>
          <ion-icon *ngIf="c.showDetails" color="danger" name="ios-arrow-forward"></ion-icon>
          <label class="main-title">{{c.name}}</label>
        </ion-item>

        <ion-item *ngIf="c.subcategories.length == 0" class="item-stable" no-lines (click)="openProductCategory(c.term_id,c.name,true)">
          <ion-icon color="danger" name="ios-arrow-forward"></ion-icon>
          <label class="main-title">{{c.name}}</label>
        </ion-item>

        <ion-item *ngFor="let sc of c.subcategories" class="item-accordion" menuClose [hidden]="c.showDetails" (click)="openProduct(sc.term_id,sc.name)">
          <ion-icon name="ios-arrow-forward"></ion-icon>
          {{sc.name}}
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-footer>
  <div class="tabs">
    <button ion-button icon-only class="tab" (click)="openHome()">
        <img class="tab-icon" src="assets/icon/icono_1.png" />
  </button>
    <button ion-button icon-only class="tab" (click)="goHighlight()">
      <img class="tab-icon" src="assets/icon/icono_2.png" />
  </button>
    <button ion-button icon-only class="tab" (click)="goContact()">
      <img class="tab-icon" src="assets/icon/icono_3.png" />
  </button>
    <button ion-button icon-only class="tab" (click)="confirmCall('tel:+34699138977')">
      <img class="tab-icon" src="assets/icon/icono_4.png" />
</button>
  </div>
</ion-footer>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
