// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
  font-family: "Avenir-Roman";
  src: url("../assets/fonts/avenir-roman.ttf") format("truetype");
}

.tabbar.show-tabbar {
  background: #EB0628;
}

//nav menu
page-home {
    .toolbar-ios {
        //workaround: statusbar height is too small on root view without home button
        // -> manually set min-height on root view (verified on iOS 10)
        min-height: 64px;
    }
}

span.tab-button-text {
  color: white;
}
//footer

.footer .toolbar-background.toolbar-background {
  background: #EB0628;
  vertical-align: middle;
  align-content: center;
}

.btnfooter {
  width: 49%;
  background: #EB0628;
  color: white;
}
//sidemenu

.item {
  background-color: transparent;
}

.item {
  background: black;
  opacity: 0.9;
}

ion-label.label.label {
  text-align: initial;
  margin: 0;
}
/*ion-label.label.label-md:hover{
    text-align: initial;
    color: #EB0628;
}*/
// .item-stable {
//   text-transform: uppercase;
//   margin-right: 80%;
// }

.item-stable {
  text-transform: uppercase;
  margin-right: 80%;
}

.item-accordion {
  background: #EB0628;
  opacity: 0.95;
  padding-left: 10%;

  ion-icon {
    color: white;
    padding-right: 2%;
    font-size: 1.2em;
  }
}
//content of all pages

.ion-page > ion-content {
  background-image: url('../assets/background/DosiletApp_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  padding-top: 50px;
}

ion-content.content.content {
  padding-top: 50px;
  z-index: 2;
}

ion-app [padding],
ion-app [padding] .scroll-content {
  padding-top: 70px;
  margin-bottom: 60px;
}
//nav bar

.navbarDosilet {
  text-align: center;
}
.navbarDosilet img{
  margin-left: -60px;
}
.logo-navbar {
  width: 90px;
  height: auto;
}

.logo-navbar:hover {
  cursor: pointer;
}
//tabs bar

.tabs {
  background-color: #0F1013;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  text-align: center;
}

.tabs .tab {
  text-transform: capitalize !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  font-size: 14px;
  position: relative;
  display: inline-block;
  width: 20%;
  height: 100%;
  padding: 14px;
  background: none;
}

.tab-icon {
  height: 22px;
  width: auto;
  margin-bottom: 5px;
}

.menu-toggle-button {
  color: white;
}

.settings-button {
  position: absolute;
  right: 0;
  background: none;
  box-shadow: none;
  font-size: 20px;
}

.menu-toggle-button:hover {
  color: white !important;
}

.settings-button:hover {
  background: none !important;
  color: white !important;
  box-shadow: none !important;
}

ion-item.item-accordion.item.item-block.item {
  background: #c90e2b;
}
//subnavar

´.subnavbar {}

.subtitle {
  padding: 5px 0;
  background-color: black;
  text-transform: uppercase;
  font-size: x-large;
  text-align: center;
}

.subtitle h5 {
  color: white !important;
  font-weight: 100 !important;
}

.platform-ios .settings-button {
  top: 13px !important;
}

.main-title:hover {
  color: #c90e2b !important;
}

.ion-ios-arrow-down {
  float:left !important;
  margin-right: 5px !important;
}

.title_sidmenu .toolbar-title {
    color: #c90e2b;
    padding: 5%;
    text-align: justify;
}

ion-list.listSideBar, ion-list.listSideBar.list{
  border-top: black;
}
ion-list.listSideBar.list.list-md {
    border-top: black;
}
ion-list.listSideBar.list.list-ios {
   border-top: 1px solid #000000 ;
}
